.name{
    font-size: 3rem;
    font-weight: 100;
    padding: 5rem 0 2rem 0;
    text-align: center;
}

.head{

    font-size: 3rem;
    font-weight: 100;
    padding: 5rem 0 2rem 0;
    text-align: left;
    font-weight: 500;

}

.exp-head{

    font-size: 3rem;
    font-weight: 100;
    padding: 0 0 2rem 0;
    text-align: left;
    font-weight: 500;

}

/* .icons {
    color: grey;
} */

.learning-quote{
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

.details{
    display: flex;
    padding: 2rem 0 0 17rem;
    opacity: 0.8;
}

.info{
    margin: 0.3rem;
    
}

.icon-img{
    margin: 0.5rem;
}

.quotes{
    /* background-color: blue; */
    width: 100%;
    margin: 5rem 0 5rem 0;
    justify-content: center;
    font-size: 1.2rem;
    opacity: 0.8;
}

.social-icons {
    color: #242526;
    font-size: 3.5rem;
    margin: 0.5rem;
}

.skills-icons {
    color: rgb(39, 39, 39);
    font-size: 3.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
  
}
.social-icons :hover {
    color: gray;
    cursor: pointer;
}

.social-media{
    display: flex;
    padding-top: 10rem;
}

.icons {
    color: #242526;
}

