.name{
    font-size: 3rem;
    font-weight: 100;
    padding: 5rem 0 2rem 0;
    text-align: center;
}

.name-one{
    display: none;
}

.details-min{
    display: none;
}

.head{

    font-size: 3rem;
    font-weight: 100;
    padding: 5rem 0 2rem 0;
    text-align: left;
    font-weight: 500;
}

.profile-img-home{
    display: none;
}


.exp-head{

    font-size: 3rem;
    font-weight: 100;
    padding: 0 0 0rem 0;
    text-align: left;
    font-weight: 500;

}

/* .icons {
    color: grey;
} */

.learning-quote{
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

.details{
    display: flex;
    padding: 2rem 0 0 17rem;
    opacity: 0.8;
}

.info{
    margin: 0.3rem;
    
}

.icon-img{
    margin: 0.5rem;
}

.quotes{
    /* background-color: blue; */
    width: 100%;
    margin: 5rem 0 5rem 0;
    justify-content: center;
    font-size: 1.2rem;
    opacity: 0.8;
}

.social-icons {
    color: #242526;
    font-size: 3.5rem;
    margin: 0.5rem;
}

.social{
    display: flex;
}

.skills-icons {
    color: rgb(39, 39, 39);
    font-size: 3.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
  
}
.social-icons :hover {
    color: gray;
    cursor: pointer;
}

.social-media{
    display: flex;
    padding-top: 10rem;
}

.icons {
    color: #242526;
}

@media screen and (max-width: 656px){
    .quotes{
        /* background-color: blue; */
        width: 100%;
        margin: 0rem 0 0rem 0;
        justify-content: center;
        font-size: 1.2rem;
        opacity: 0.8;
    }

    .social-icons {
        color: #242526;
        font-size: 3.5rem;
        margin: 0.5rem;
    }

    .social-media{
        display: block;
        padding-top: 2rem;
    }

    .details{
        
        display: none;
    }

    .name-one{
        display: initial;
        font-size: 3rem;
        font-weight: 100;
        text-align: center;
        font-weight: 700;
    }
    

    .my-name{
        padding: 1rem 0 2rem 0;
    }


    .name{
        display: none;
    }
    
    .details-min{
        display: flex;
        margin-left: 1.5rem;
    }

    .info{
        font-size: 0.9rem;
    }

    .social{
        display: flex;
        /* margin-top: 1rem; */
        padding-left: 1rem;
    }

    .quotes{
        /* background-color: blue; */
        width: 100%;
        /* margin: 5rem 0 5rem 0; */
        justify-content: center;
        font-size: 1.2rem;
        opacity: 0.8;
        text-align: justify;
        padding: 0 2rem 0 2rem;
    }

    .quotes p{
        line-height: 20pt;
    }

    
    .profile-img-home{
        display: initial;
    }

    .profile-home{
        max-width: 50%;
        margin: 1rem 0rem 1rem 6rem ;
        height: auto;
        border-radius: 50rem;
        border: 3px solid white;
        /* margin-top: 9rem; */
    }

    
 

    
   
}